.root {
  text-align: center;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.topbar {
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.link {
  color: #61dafb;
}

.gameWindow {
  flex-grow: 1;
  resize: none;
  padding: 20px;
  overflow-y: scroll;
}

.inputButtons {
  display: flex;
  flex-direction: column;
}

.inputRow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
}

Button {
  height: 100%;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
