body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222222;
}

.root {
  margin: auto;
  max-width: 1280px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: ivory;
}

.column {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.row {
  align-items: stretch;
  display: flex;
  flex-direction: row;
}

.header {
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  border-bottom: 2px solid black;
}

.logo {
  height: 10vmin;
}

.centered {
  align-items: center;
}

.fill {
  flex-grow: 1;
  flex-basis: 0;
}

.scroll {
  overflow-y: scroll;
}

.sidebar {
  width: 100px;
  background-color: #282c34;
}

.sidetopbar {
}

.minimap {
  height: 200px;
  width: 200px;
  background-color: #382c34;
}

.textbox {
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 20px;
  background-color: #484858;
}

.textbox span {
  -webkit-animation: fade 1s ease-in 1;
  animation: fade 1s ease-in 1;
}

.buttons {
  background-color: #444444;
}

button {
  border-radius: 5px;
  border: 1px solid gray;
  background-color: #555555;
  color: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
}

button:active, button.active {
  background-color: #333333;
}

.pink {
  color: pink;
}
