body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #222222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
}

#react {
  width: 100%;
  height: 100%;
}

.root {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  margin: auto;
  max-width: 1280px;
  overflow: hidden;
  width: 100vw;
}

.column {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.row {
  align-items: stretch;
  display: flex;
  flex-direction: row;
}

.header {
  font-size: calc(10px + 2vmin);
  padding: 10px;
  background-color: #3c3c3c;
  color: #bababa;
}

.logo {
  padding-right: 10px;
  height: 5vmin;
}

.centered {
  align-items: center;
}

.fill {
  flex-grow: 1;
  flex-basis: 0;
}

.scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.scroll::-webkit-scrollbar
{
    width: 12px;
}

.scroll::-webkit-scrollbar-thumb
{
    background-color: #424242;
}

.sidebar {
  width: 100px;
  background-color: #282c34;
}

.sidetopbar {
}

.minimap {
  height: 200px;
  width: 200px;
  background-color: #382c34;
}

.gamewindow {
  position: relative;
}

.textbox {
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #1e1e1e;
  color: #d4d4d4;
  font-size: 24px;
}

.text {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.seen {
  background-color: rgb(0, 0, 0, 0.2);
}

.unseen {
  -webkit-animation: yellow-fade 0.5s ease-in 1;
  animation: yellow-fade 0.5s ease-in 1;
}

@-webkit-keyframes yellow-fade {
  0% {background: rgb(255, 255, 255, 0.10);}
  100% {background: none;}
}

@keyframes yellow-fade {
  0% {background: rgb(255, 255, 255, 0.10);}
  100% {background: none;}
}

.butwaittheresmore {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.3)); /* Standard syntax (must be last) */
  pointer-events: none;
}

.buttons {
  color: #d4d4d4;
}

button {
  border: 1px solid #424242;
  background-color: #3c3c3c;
  color: inherit;
  overflow: hidden;
  height: 8vh;
}

button:active, button.active {
  background-color: #333333;
}

.pink {
  color: pink;
}
